.signup-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    align-items: center;
    height: 100vh;
    background-color: var(--pastelLavender); 
    width: 100vw;
  }

  .signup-page-slogan-container {
    flex: 0.9;
  }

  .signup-page-form-container {
    flex: 0.5;
  }

  .signup-page-form-container h1 {
    color: var(--deepPurple);
    text-align: center;
  }
  
  