@import "../../variables.css";

.signup-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    align-items: center;
    min-height: 100vh;
    /* max-height: auto; */
    background-color: var(--pastelLavender);
    /* width: 100vw; */
}

.signup-page-slogan-container {
    flex: 0.9;
}

.signup-page-form-container {
    flex: 0.5;
}

.signup-page-form-container h1 {
    color: var(--deepPurple);
    text-align: center;
}

/* Media Queries */

/* For tablets (768px and below) */
@media (max-width: 768px) {
    .signup-page-container {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center align in column layout */
    }

    .signup-page-slogan-container {
        flex: 1; /* Adjust the width */
        text-align: center; /* Center the text */
    }

    .signup-page-form-container {
        flex: 1; /* Adjust the width */
        margin-top: 20px;
        width: 80%;
    }
}

/* For mobile devices (480px and below) */
@media (max-width: 480px) {
    .signup-page-container {
        padding: 10px; /* Reduce padding for smaller screens */
        gap: 10px; /* Reduce gap between elements */
    }

    .signup-page-slogan-container,
    .signup-page-form-container {
        flex: 1; /* Full width */
        text-align: center; /* Center text for both sections */
    }

    .signup-page-form-container{
      width: 80%;
    }

    .signup-page-form-container h1 {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
}
