.promo-section {
    flex: 1;
    background-color: #7f4de7;
    color: #a9f8e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
  }
  
  .promo-text {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  /* .promo-image img {
    width: 150px;
  }
   */