.categories-page-container {
  background-color: var(--vanilla);
}

.categories-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
  margin-left: 100px; /* Center the content by adjusting margin */
  margin-top: 20px; /* Add some space at the top */
}

.filter-box-container {
  flex: 0.25;
}



