.title-container {
  text-align: center;
  font-size: 60px;
}

.title-slogan { 
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 16pt;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  animation: blink-caret 0.7s step-end infinite;
}


  
  .indie {
    font-size: 5rem; 
    opacity: 0;
    transform: scale(0);
    transition: transform 1s ease, opacity 1s ease;
    margin-bottom: 0px;
  }
  
  .grow {
    opacity: 1;
    transform: scale(1);
  }
  
  
  
  