.products-category-section {
    margin: 20px 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.products-category-section h2 {
    margin-bottom: 10px;
    color: #333;
}

.product-cards-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
