/* Updated background for the page */
.products-page {
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 20px;
    /* background-image: linear-gradient(to bottom, var(--softPink), var(--lightLavender)); */
    color: var(--deepPurple); /* Set a default text color */
    /* background-image: url('../../assets/background picture 2.jpg'); */
    background-image: linear-gradient(to bottom, var(--softPink), var(--lightLavender));
}


/* Styling for each category section */
.products-category-section {
    margin: 20px auto; 
    padding: 20px;
    background-color: var(--lightLavender);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    max-width: 90%; /* Limit width for better readability on larger screens */
    transition: transform 0.3s;
}

/* .products-category-section:hover {
    transform: translateY(-5px);
} */

.products-category-section h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: var(--deepPurple);
    text-transform: uppercase;
    /* letter-spacing: 1px; */
}

/* Product cards container */
.product-cards-container {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    gap: 10px;
}

