.business-banner-container {
    background-color: var(--vanilla);
    color: var(--coral-pink);
    text-align: center;
    position: relative;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}




