.business-banner-container {
  background-image: linear-gradient(to bottom, var(--softPink), var(--lightLavender));
  color: var(--deepPurple);
  text-align: center;
  position: relative;
  padding: 20px 20px;
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  overflow: hidden;
}

.business-banner-container h1 {
  color: var(--vibrantPurple);
}

.business-banner-container p {
  color: var(--vibrantPurple);
}


