.header-container {
    background-color: #8AE3A3; /* Green background */
    width: 100vw; /* Make sure it spans the full viewport width */
    text-align: center;
    padding: 20px 0; /* Padding for vertical spacing */
    margin: 0; /* Remove any default margins */
    position: fixed; /* Keeps the header at the top of the page */
    top: 0;
    left: 0;
  }
  
  .header-title {
    font-family: 'Arial', sans-serif;
    color: #8A2BE2;
    font-size: 36px;
  }