.explore-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .explore-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid var(--coral-pink);
    border-radius: 5px;
    background-color: var(--vanilla);
    box-shadow: 0 4px 8px var(--coral-pink);
    cursor: pointer;
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease, background-color 0.3s ease;
    color:var(--red);
  }
  
  .fade-in {
    opacity: 1; /* Fade-in to full opacity */
  }
  
  .explore-button:hover {
    background-color: var(--apricot);
  }
  