.explore-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .explore-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid var(--vibrantPurple);
    border-radius: 5px;
    background-color: var(--softPink);
    box-shadow: 0 4px 8px var(--vibrantPurple);
    cursor: pointer;
    opacity: 0; 
    transition: opacity 1s ease, background-color 0.3s ease;
    color:var(--red);
  }
  
  .fade-in {
    opacity: 1; 
  }
  
  .explore-button:hover {
    background-color: var(--peach);
  }
  