  .login-form-component {
    flex: 1;
    border: 2px solid #b490ff;
    border-radius: 20px;
    background-color: rgb(244, 242, 240);
    padding: 25px;
    padding-top: 0;
  }

  .login-form-component h2 {
    text-align: center;
  }
  
  .login-component-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
  }
 
  .login-component-signup {
    text-align: center;
  }
  
  .login-component-back-to-home {
    display: block;
    margin-top: 20px;
    text-align: right;
    width: 100px;
    margin-left: auto;
  }
  
  
  
  
  