.category-card {
    width: 200px;
    height: 250px; 
    border: 15px solid var(--tea-green);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: var(--tea-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    position: relative;
    padding: 15px 10px 5px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add smooth hover transition */
    color: var(--coral-pink);
  }
  
  .category-card:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Increase shadow */
  }
  
  .category-card img {
    width: 100%;
    height: 70%; /* Keep aspect ratio for Polaroid feel */
    object-fit: cover;
    border-bottom: 1px solid #a9f8e6;
    margin-bottom: 10px; 
  }
  
  .category-card p {
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 0;
    position: absolute;
    bottom: 5px; /* Position the category name at the bottom */
    text-align: center;
    width: 100%;
  }
  

.category-name {
    margin: 5px 0; /* Space above and below the name */
    font-size: 16px; /* Adjust font size */
}


