.business-info-container {
    padding: 30px 50px;
    margin: auto;
    overflow: hidden;
}

.business-info-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    align-items: stretch;
}

.business-info-header-column {
    flex: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 25px;
}

.business-info-social-media {
    display: flex;
    gap: 10px;
}

.business-info-social-icon {
    font-size: 14px;
    color: #000;
    transition: color 0.3s;
    margin-bottom: 20px;
}

.business-info-social-icon:hover {
    color: #1da1f2;
}

.business-info-title {
    flex: 80%;
    font-size: 2rem;
    margin-bottom: 20px;
}

.business-info-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.business-info-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: plum;
    color: white;
    border: none;
    border-radius: 5px;
}

.business-info-carousel-column {
    flex: 0.55;
}

.business-info-carousel-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.business-info-carousel-arrow {
    background: none;
    border: none;
    color: #333;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
    padding: 0 10px;
}

.business-info-carousel-arrow.left {
    left: 60px;
}

.business-info-carousel-arrow.right {
    right: 60px;
}

.business-info-carousel-arrow:hover {
    color: #007bff;
}

.business-info-product {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.business-info-carousel-controls {
    margin-top: 20px;
}

.business-info-carousel-controls button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 10px;
    cursor: pointer;
}
