/* Ensure the profile page takes up the full viewport height */
.user-profile-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh; /* Ensures it covers the full viewport */
    background-image: linear-gradient(to bottom, var(--softPink), var(--lightLavender));
}


.user-profile {
    display: flex;
    gap: 20px; 
    padding: 20px;
}
 
.user-profile__content {
    display: flex;
    flex-direction: row; /* Ensures items are aligned horizontally */
    justify-content: flex-start; /* Aligns items to the start */
    align-items: center; /* Vertically centers items */
    width: 100%; /* Ensures full width of the parent */
    flex-wrap: wrap; /* Allows wrapping to the next line if necessary */
    gap: 20px; /* Adds space between items */
}

