.step-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--vanilla);
  }
   
  .prompt {
    font-size: 1.5rem;
    color: var(--coral-pink);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .text-input,
  .textarea,
  .image-upload {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 2px solid var(--coral-pink);
    border-radius: 12px;
    font-size: 1rem;
    outline: none;
  }
  
  .add-item-button,
  .item-next-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: var(--atomic-tangerine);
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  .add-item-button:hover,
  .next-button:hover {
    background-color: var(--coral-pink);
  }
  
  .items-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .item-card {
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  .item-card h4 {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--coral-pink);
  }
  
  .item-card h5 {
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .item-card p {
    font-size: 0.9rem;
    color: #555;
  }
  
  .item-image {
    width: 100%; 
    height: auto;
    max-width: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
  }
  
.item-text-input,
.item-textarea,
.image-upload {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 2px solid var(--coral-pink);
  border-radius: 12px;
  font-size: 1rem;
  outline: none;
}

