


/* Button styling */
.add-item-button {
  background-color: var(--vibrantPurple);
  color: var(--peach);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.add-item-button:hover {
  background-color: #ff8160;
}

/* Styling for the items list container */
.items-list {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto the next line */
  gap: 10px; /* Adds space between items */
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}

/* Styling for each item card */
.item-card {
  background-color: var(--lightLavender);
  position: relative;
  border: 1px solid var(--peach);
  border-radius: 5px;
  padding: 10px;
  width: calc(50% - 20px); /* Adjust width to fit three items per row with gap */
  box-sizing: border-box;
  text-align: left;
  color: var(--deepPurple);
}


.delete-item-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  color: #d9534f;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  line-height: 1;
  padding: 0;
}

.delete-item-button:hover {
  color: #c9302c;
}

.item-card h4,
.item-card h5,
.item-card p {
  margin: 5px 0;
}

.item-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 5px;
}


