.business-page-container {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    background-image:  linear-gradient(to bottom, var(--softPink), var(--lightLavender));
    width: 100vw;
    min-height: 100vh;
} 

#about-us {
    background-color: var(--lightLavender);
}