.business-page-container {
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    background-image:  linear-gradient(to bottom, var(--softPink), var(--lightLavender));
} 

#about-us {
    background-color: var(--lightLavender);
}