.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    background-color: purple;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: fixed; /* Make the navbar stay at the top */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Ensure it stays above other elements */
  }
  
  .nav-left, .nav-right {
    display: flex;
    gap: 20px;
  }
  
  .nav-left span, .nav-right span {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .nav-left span:hover, .nav-right span:hover {
    color: lightgray;
  }
  