@import "../../variables.css";

.about-us-container {
  position: relative;
  margin: auto; 
}

.big-text {
  font-family: 'Arial Black', sans-serif;
  font-size: 150px;
  color: var(--vibrantPurple); /* theme.colors.coral */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.word-1 {
  position: absolute;
  left: 250px;
  top: -30px;
}

.word-2 {
  position: absolute;
  right: 150px;
  top: 150px;
}

.word-3 {
  position: absolute;
  left: 150px;
  top: 280px;
}

.indiebazaar-logo {
  width: 500px;
  height: auto;
  z-index: 1;
  position: absolute;
  top: 80px;
  left: auto;
}

.about-info-box {
  position: absolute;
  border: 1px solid var(--peach); /* theme.colors.brightYellow */
  padding: 20px;
  z-index: 2;
  box-shadow: 0 4px 8px var(--peach); /* theme.colors.brightYellow */
  color: var(--darkGray); /* theme.colors.darkGray */
}

.about-info-box p {
  margin: 0;
  font-size: 14px;
  text-align: left;
}

.about-info-box-1 {
  left: 230px;
  top: 130px;
  width: 17%;
}

.about-info-box-2 {
  left: 300px;
  top: 250px;
  width: 17%;
}

.about-info-box-3 {
  top: 70px;
  right: 320px;
  width: 17%;
}

.about-info-box-4 {
  top: 350px;
  right: 400px;
  width: 17%;
}

.about-button-container {
  position: absolute;
  top: 500px;
  left: 500px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.about-setup-button, .about-explore-button {
  padding: 12px 24px;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--softPink); /* theme.colors.coral */
  color: var(--deepPurple); /* theme.colors.buttonWhite */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-setup-button:hover, .about-explore-button:hover {
  background-color: var(--peach); /* theme.colors.brightYellow */
  transform: scale(1.05);
}
