.button-basic-container {
    display: flex;
    justify-content: center;
  }
  
  .button-basic {
      background-color: var(--vanilla);
      color: var(--red);
      padding: 10px;
      border: 1px solid var(--coral-pink);
      border-radius: 10px;
      cursor: pointer;
      margin-top: 10px;
      width: 40%;
      margin-bottom: 10px;
      text-align: center;
  }
  
  .button-basic:hover{
    background-color: var(--apricot);
  }
  
  .error-message {
    color: red;
    font-size: 0.9em;
  }
  
  .input-error {
    border: 1px solid red;
  }

  .input-group {
    margin-bottom: 15px;
  }

  .input-group label {
    display: block;
    font-weight: bold;
  }

  .input-group input {
    border: none;
    width: 100%;
    background-color: var(--vanilla);
    border-bottom: 1px solid var(--apricot);
  }