:root {
    --atomic-tangerine: #FFAC81;
    --coral-pink: #FF928B;
    --apricot: #FEC3A6;
    --vanilla: #EFE9AE;
    --tea-green: #CDEAC0;
    --red: #ea4f46;
  }


  /* --atomic-tangerine: #F6C0D0;  
  --coral-pink: #A0CFD3;   
  --apricot: #B4EDD2;      
  --vanilla: #6D466B;        
  --tea-green: #412234;       */
  
  /* --atomic-tangerine: #FFAC81;
    --coral-pink: #FF928B;
    --apricot: #FEC3A6;
    --vanilla: #EFE9AE;
    --tea-green: #CDEAC0; */