@import "../../variables.css";

.homepage-container {
    position: relative;
    overflow: hidden;
  }
  
  .top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--vanilla); 
    color: var(--coral-pink);
    width: 100%;
  }

  
  
  /* .content {
    text-align: center;
    margin-top: 150px; 
  } */
  
  .homepage-container #about-us {
    height: 600px; /* Full height for the about section */
    width: 100%;
    background-color: var(--tea-green);
    color: black;
    padding: 30px;
    text-align: center;
  }
  
  .homepage-container #contact {
    background-color: var(--vanilla); /* Change this to your desired color */
    padding: 20px; /* Add some padding */
    color: var(--coral-pink);
  }
  