@import "../../variables.css";

.homepage-container {
    position: relative;
    overflow: hidden;
  }
  
  .top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--vanilla); 
    color: var(--coral-pink);
    width: 100%;
  }

  .homepage-container #about-us {
    height: 600px; 
    width: 100%;
    background-color: var(--tea-green);
    padding: 30px;
    text-align: center;
  }
  
  .homepage-container #contact {
    background-color: var(--vanilla); 
    padding: 10px; 
    color: var(--coral-pink);
  }
  