.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #96d7c6;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-bar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #8e44ad;
}

.nav-bar-icons i {
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
}
