.pages-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--softPink); */
    padding: 10px 20px;
}

.pages-navbar-icons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.pages-navbar-title {
    font-size: 24px;
    color: var(--deepPurple); 
    text-decoration: solid;
}

.pages-navbar-icons .icon {
    font-size: 20px; 
    color: var(--deepPurple); 
    cursor: pointer; 
}

.pages-navbar-icons .icon:hover {
    color: var(--vibrantPurple); 
}

.pages-navbar-title
{
    cursor: pointer;
}

