.pages-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--vanilla);
    padding: 10px 20px;
}

.pages-navbar-icons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.pages-navbar-title {
    font-size: 24px;
    color: var(--atomic-tangerine); 
    text-decoration: solid;
}

.pages-navbar-icons .icon {
    font-size: 20px; 
    color: var(--atomic-tangerine); 
    cursor: pointer; 
}

.pages-navbar-icons .icon:hover {
    color: var(--apricot); 
}


