.profile-details {
    background-color: var(--lightLavender);
    padding: 20px;
    border: 1px solid var(--vibrantPurple);
    border-radius: 8px;
    box-shadow: var(--vibrantPurple);
}

.profile-details__heading {
    color: var(--deepPurple);
    margin-top: 15px;
}

.profile-details__edit-button { 
    background-color: var(--deepPurple);
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}
