.profile-details {
    background-color: var(--lightLavender);
    padding: 20px;
    border: 1px solid var(--vibrantPurple);
    border-radius: 8px;
    box-shadow: var(--vibrantPurple);
}

.profile-details__heading {
    color: var(--deepPurple);
    margin-top: 15px;
}

.profile-details__edit-button { 
    background-color: var(--deepPurple);
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.profile-details__button-container {
    display: flex;
    gap: 10px; /* Add space between buttons */
}

.profile-details__logout-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}

.profile-details__logout-button:hover {
    background-color: #c9302c;
}
