

.buyer-seller-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-image:  linear-gradient(to bottom, var(--softPink), var(--lightLavender));
}


.buyer-seller-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  gap: 30px;
}

.buyer-seller {
  width: 300px;
  margin: 0 10px;
  background-color: var(--vibrantPurple);
  color: #fff;
}

.buyer-seller:hover {
  transform: scale(1.05);
  background-color: #6A1BBE;
}

.buyer-seller-header-container{
  margin-top: 10px;
}

@media (max-width: 768px) {
  .buyer-seller-page-container {
    padding: 15px;
  }

  .buyer-seller-buttons-container {
    gap: 20px; /* Reduce gap between buttons */
  }

  .buyer-seller {
    width: 250px; /* Reduce button size for smaller screens */
    font-size: 0.9rem; /* Adjust font size */
  }
}

/* For mobile devices (max-width: 480px) */
@media (max-width: 480px) {


  .buyer-seller-buttons-container {
    flex-direction: column; /* Stack buttons vertically */
    gap: 15px;
  }

  .buyer-seller {
    width: 100%; /* Full width for buttons */
    max-width: 300px; /* Optional max-width for better control */
    font-size: 0.8rem;
    padding: 8px 12px; /* Compact padding */
  }
}