.signup-form-component {
  flex: 1;
  border: 2px solid var(--vibrantPurple);
  border-radius: 20px;
  background-color: var(--lightLavender);
  box-shadow: 0 4px 8px var(--vibrantPurple);
  padding: 25px;
  padding-top: 0;
  color: var(--deepPurple);
  text-align: left;
}

.signup-form-component h2 {
  text-align: center;
  color: var(--deepPurple);
}

.signup-component-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}

.signup-component-signup {
  text-align: center;
}

.signup-form-component a {
  color: var(--deepPurple);
}

.signup-form-component a:hover {
  color: var(--vibrantPurple);
}

.signup-component-back-to-login {
  display: block;
  margin-top: 20px;
  text-align: right;
}

.signup-password-toggle-icon {
  position: absolute;
  right: 0px; 
  top: 0%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #666;
}

.signup-form-component .signup-input-group input[type="text"] {
  border: none;
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--lightLavender);
  border-bottom: 1px solid var(--deepPurple);
  /* padding: 10px; */
  /* font-size: 16px; */
  outline: none;
  box-shadow: none; /* Ensures no shadow */
  border-radius: 0; /* Removes any default rounding */
}

.signup-input-group label {
  display: block;
  margin-bottom: 0px; /* Adjusts space between label and input */
  font-weight: bold; /* Optional: make the label bold */
}


